{% include 'header.html' %}
{%load static%}
<table class="table table-bordered border-primary">
    <thead>
        <tr>
          <th scope="col">Sr No.</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Image</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>{% for i in recipe %}
        <tr>
          <th scope="row" width="5px">{{forloop.counter}}</th>
          <td>{{i.recipe_name}}</td>
          <td width="500px">{{i.recipe_description}}</td>
          <td><img src="/media/{{i.image1}}"  width="100px"></td>
          <td>  <a href='/update/{{i.id}}/' ><button class="btn btn-primary" type="button">Update </button> </a>   <a href="/delete/{{i.id}}/" <button class="btn btn-danger" type="button">Delete </button></a>  </td>
                </tr>
        {%endfor%}
        
      </tbody>
  </table>
</body>
</html>